.button {
    display: inline-block;
    background-color: #f25a70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0px;
    font-size: 20px;
    color: #fff;
}

.button:hover {
    transform: scale(1.08);
}